{% extends 'base.html' %} {% block title %}
<title>Concreate Club</title>
{% endblock title %}

<div id="page-top"></div>
{% block link %} href="/" {% endblock link %} {% block navElements %}

<div class="collapse navbar-collapse" id="navbarResponsive">

    <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#Description" style="color:white;">Description</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#achievements" style="color:white;">achievementsS</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#events" style="color:white;">events</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about" style="color:white;">ABOUT</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact" style="color:white;">CONTACT</a>
        </li>

    </ul>

</div>

{% endblock navElements %} {% block body %}



<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->

        <img class="masthead-avatar mb-5" src="{{ url_for('static', filename='concreate.jpg')  }}" alt="" />

        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Concreate Club</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <!-- <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p> -->
    </div>
</header>

<!-- Description Section-->
<section class="page-section portfolio" id="Description">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Description</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            <div class="col-md-12 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto">

                    We are a diverse group of students who loves to build and create stuff. The club is a student body which finds its place under the science and Tech Council, Student Gymkhana, IIT Indore.
                    We are a group of super enthusiastic people who likes to implement the theoretical knowledge into building cool stuff.
                    The Computer-Aided Engineering (CAE) Club is a independent and premium student organisation certified by Mechanical engineering department, IIT Indore. The aim of the firm is to deal with common engineering problems and try to develop its optimum solution using CAE softwares. Our non- profit association helps young undergraduates to learn relevant designing skills,aware them about the use of  CAE softwares in real industries and motivate them to participate in different design competitions. The student body also conducts some workshop (software-based  and hands-on), seminars, webinars and different CAD competitions. We believe what knowledge we inherited we pass in on to young one

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Achievements Section-->
<section class="page-section portfolio" id="achievements">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Achievements</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            <div class="col-md-12 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto">

                    The ConCreate Club IIT Indore was pleased to  organize AutoCad and StaadPro workshop in collaboration with Design Centre.
                    Monthly newsletter namely "ARS INGENIERIA CIVILIS".
                
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Event Section-->
<section class="page-section portfolio" id="events">
    <div class="container">
        <!-- Event Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Events</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Event Grid Items-->
        <div class="row">
            <!-- Event Item 1-->
            <div class="col-md-12 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto">
                    AutoCAD workshop
                     AutoCAD 2D and 3D designing software used for designing floor plans
                    of buildings etc.

                    Staad Pro workshop
                     Staad Pro – Load analysis software used to analyse behaviour of
                    structures under load.
                     Autodesk Revit - building information modelling software.

                    Structura
                     The technical event of the concreate club in the techno-cultural fest
                    FLUXUS was STRUCTURA.
                     In this event the participants were asked
                    to build earthquake resistance building out of popsicle sticks and
                    bamboo sticks.
                     Minimum 3 floor building was necessary and additional floors were
                    given extra marks.
                     These structures were tested by a machine which shakes the base of
                    the building and then breakage oof the building was observed.    
                    
                    
                    Bridge designing competition
                     Participants were asked to make truss bridge out of popsicle
                    sticks.
                     Truss analysis workshop was also conducted prior to the
                    competition.
                     Load testing was done by hanging weights on the deck of the
                    bridge.
                     Winners were awarded by medals and cash prizes.


                </div>
            </div>
        </div>
    </div>
</section>









</div>
{% endblock %}