{% extends 'base.html' %} {% block title %}
<title>Literary Club</title>
{% endblock title %}

<div id="page-top"></div>
{% block link %} href="/" {% endblock link %} {% block navElements %}

<div class="collapse navbar-collapse" id="navbarResponsive">

    <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#Description" style="color:white;">Description</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#achievements" style="color:white;">achievementsS</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#events" style="color:white;">events</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about" style="color:white;">ABOUT</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact" style="color:white;">CONTACT</a>
        </li>

    </ul>

</div>

{% endblock navElements %} {% block body %}



<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->

        <img class="masthead-avatar mb-5" src="{{ url_for('static', filename='literary.jpg')  }}" alt="" />

        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Literary Club</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <!-- <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p> -->
    </div>
</header>

<!-- Description Section-->
<section class="page-section portfolio" id="Description">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Description</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            <div class="col-md-12 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto">

                    The Literary Club, a congregation of knowledge oriented students, forms the oldest club of one of the prestigious IIT`s in India, Indian Institute of Technology, Indore. The club has been functioning successfully right from the time IIT Indore was born. It aims at nurturing students` knowledge and personalities to meet the modern day requirements of being a successful individual. It provides a platform for students to compete in totally out-of-the-box events such as RAN-SENSE and CACHE-OF-THE-LEXIS. A major achievement of the Literary Club is the launching of CURIOSITY, where the students learn new ideas and share it with everybody so that the whole society can grow, literary as well as literally.

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Achievements Section-->
<section class="page-section portfolio" id="achievements">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Achievements</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            <div class="col-md-12 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto">

                    Conducted under Fluxus by the Literary club viz. Ransense (creative writing), Online poem writing competition for which the theme is OBLIVION , Word Games (come here you newspaper crossword geeks), and Pottermania (Harry Potter themed quiz). 


                    The Literary Club was proud to present Inscription, the annual magazine of IIT Indore, more diverse and intriguing than ever before.

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Event Section-->
<section class="page-section portfolio" id="events">
    <div class="container">
        <!-- Event Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Events</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Event Grid Items-->
        <div class="row">
            <!-- Event Item 1-->
            <div class="col-md-12 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto">

                   Organized an event called “Movie Massacre,” in which The participants will need to describe the basic plot of the movie in less than 50 words such that it completely annihilates everything the movie was really about.

                   The Literary Club organized a webinar on Research Article Writing and Scientific Presentation Skills in collaboration with WiseUp Communications, a venture that conducts workshops for students and young professionals on academic, scientific, and career-related communication skills.

                   We present to you, 'Horror Shots'. 
                  It was essentially a 2-sentence horror story writing competition. You will be given a prompt which makes up the first sentence of the story. Your job then is to finish it off with a sentence of your own.


                  Spelling Bee Contest.

                  Organized speech writing competition 'Addressing and Understanding mental health problems as much as other health problems'.

                  Word Games -- From the mind-boggling bustagram to classic crosswords, we are going to throw at you every challenge in the book (and some even from outside it).
                  

                  The much awaited Ransense , the annual story-writing competition. A plethora of creativity and a panoply of ideas, it is a chance to put the right side of your brain to test (You needn't be left-handed to win) .


                </div>
            </div>
        </div>
    </div>
</section>









</div>
{% endblock %}