{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}


<div class="jumbotron text-center">
    <h1>Literary CLUB</h1>

    <span><a href="#events" class="btn btn-primary ">EVENTS</a></span>
    <span><a href="#teams" class="btn btn-primary">TEAMS</a></span>
    <span><a href="#achievements" class="btn btn-primary">ACHIEVEMENTS</a></span>


</div>

<div class="container">
    <h3>
        The Literary Club, a congregation of knowledge oriented students, forms the oldest club of one of the prestigious IIT`s in India, Indian Institute of Technology, Indore. The club has been functioning successfully right from the time IIT Indore was born. It aims at nurturing students` knowledge and personalities to meet the modern day requirements of being a successful individual. It provides a platform for students to compete in totally out-of-the-box events such as RAN-SENSE and CACHE-OF-THE-LEXIS. A major achievement of the Literary Club is the launching of CURIOSITY, where the students learn new ideas and share it with everybody so that the whole society can grow, literary as well as literally.
    </h3>
</div>

<div id="events" class="container">
    <h1>EVENTS</h1>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur accusantium consequatur earum laboriosam, itaque nostrum illum consequuntur ea saepe dignissimos. Quaerat tenetur veritatis ex facilis velit possimus voluptates magnam maxime.</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>

</div>



<div id="teams" class="container">
    <h1>TEAMS</h1>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>


</div>


<div id="achievements" class="container">
    <h1>ACHIEVEMENTS</h1>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>

</div>

{% endblock %}