{% extends 'base.html' %} {% block title %}
<title>Prog Club</title>
{% endblock title %}

<div id="page-top"></div>
{% block link %} href="/" {% endblock link %} {% block navElements %}

<div class="collapse navbar-collapse" id="navbarResponsive">

    <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#Description" style="color:white;">Description</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#achievements" style="color:white;">achievementsS</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#events" style="color:white;">events</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about" style="color:white;">ABOUT</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact" style="color:white;">CONTACT</a>
        </li>

    </ul>

</div>

{% endblock navElements %} {% block body %}



<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->

        <img class="masthead-avatar mb-5" src="{{ url_for('static', filename='literary.jpg')  }}" alt="" />

        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Literary Club</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <!-- <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p> -->
    </div>
</header>

<!-- Description Section-->
<section class="page-section portfolio" id="Description">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Description</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            <div class="col-md-12 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    Programming Club, IIT Indore is for those minds who have sheer interest in programming. For those who have zest for programming and believe in the miracles of coding, this is the right place. The Club encourages active participation in various programming
                    competitions, seminars, lectures and workshops etc. This club also envelopes all the news releases,updates of softwares, web services and other relevant technologies in the computer science and the tech world. Recently, team Paradigm
                    Shift ( Archit Karandikar, Piyush Lahoti and Sanjeev Sheenoy ) of IIT Indore participated in ACM ICPC - World Finals 2013 and secured 3rd position from India. This makes IIT Indore the first new IIT to participate in such a mega contest
                    that brought IITI to the world maps for coding. And more recently, team Paradigm Shift ( Archit Karandikar, Piyush Lahoti and Gaurav Agarwal ) have qualified for ACM ICPC World Finals 2014. What next?? Join us and start coding.....

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Achievements Section-->
<section class="page-section portfolio" id="achievements">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Achievements</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{{ url_for('static', filename='literary.jpg')  }}" alt="">
                    <h2 class="text-center">Literary Club</h2>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Event Section-->
<section class="page-section portfolio" id="events">
    <div class="container">
        <!-- Event Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Events</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Event Grid Items-->
        <div class="row">
            <!-- Event Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{{ url_for('static', filename='progClub.jpg')  }}" alt="">
                    <h2 class="text-center">Prog Club</h2>
                </div>
            </div>
        </div>
    </div>
</section>









</div>
{% endblock %}