{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}


<div class="jumbotron text-center">
    <h1>Avana</h1>

    <span><a href="#events" class="btn btn-primary ">EVENTS</a></span>
    <span><a href="#teams" class="btn btn-primary">TEAMS</a></span>
    <span><a href="#achievements" class="btn btn-primary">ACHIEVEMENTS</a></span>


</div>


<div class="container">
    <h3>
        Our social welfare cell, AVANA (est. in 2011) has attracted much attention of national media in recent times, with their hardwork and benevolent activities such as adopting Government schools (for teaching activities and setting up library), traffic awareness drives, blood donation camps, administering Unnat Bharat Abhiyan and Swacch Bharat Campaign, cloth donation drives and orphanage visits being featured everywhere.

        We appreciate some of our alumni continuing to support them from outside. AVANA is all set for the Rashtriya Avishkar Abhiyan, by launching their first project named “Paathshala” targeted at providing modern teaching aids in government schools.
    </h3>
</div>

<div id="events" class="container">
    <h1>EVENTS</h1>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur accusantium consequatur earum laboriosam, itaque nostrum illum consequuntur ea saepe dignissimos. Quaerat tenetur veritatis ex facilis velit possimus voluptates magnam maxime.</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>

</div>



<div id="teams" class="container">
    <h1>TEAMS</h1>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>


</div>


<div id="achievements" class="container">
    <h1>ACHIEVEMENTS</h1>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>

</div>

{% endblock %}