{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}


<div class="jumbotron text-center">
    <h1 class="glow" >Aeromodelling CLUB</h1>

    <span><a href="#events" class="btn btn-primary ">EVENTS</a></span>
    <span><a href="#teams" class="btn btn-primary">TEAMS</a></span>
    <span><a href="#achievements" class="btn btn-primary">ACHIEVEMENTS</a></span>


</div>
<section id="slider">
    <input type="radio" name="slider" id="s1">
    <input type="radio" name="slider" id="s2">
    <input type="radio" name="slider" id="s3" checked>
    <input type="radio" name="slider" id="s4">
    <input type="radio" name="slider" id="s5">
    <label for="s1" id="slide1"></label>
    <label for="s2" id="slide2"></label>
    <label for="s3" id="slide3"></label>
    <label for="s4" id="slide4"></label>
    <label for="s5" id="slide5"></label>
</section>

<div class="container" id="intro" >
    <h3 id="introtxt">
        This club was established to develop interest in students of IIT INDORE towards the field of aeromodelling and
        the science behind how things fly and also to take part in various competition related to the field of
        aeromodelling . Due to our team's dedicated and persistent efforts we were able to make rc gliders without any
        guidance and participate in Boeing IIT national aeromodelling competition twice for two consecutive years with
        decent performance in both of them, our club will keep up the efforts and establish a culture in our institute .
    </h3>
</div>

<div id="events" class="container" >
    <h1 class="glow" > <strong> EVENTS </strong> </h1>
    <h2 class="writtentxt"> > Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio
        excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia?
        Assumenda!</h2>
    <h2 class="writtentxt"> >Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur accusantium consequatur earum laboriosam,
        itaque nostrum illum consequuntur ea saepe dignissimos. Quaerat tenetur veritatis ex facilis velit possimus
        voluptates magnam maxime.</h2>
    <h2 class="writtentxt"> > Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio
        excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia?
        Assumenda!</h2>
    <h2 class="writtentxt"> > Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio
        excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia?
        Assumenda!</h2>

</div>



<div id="teams" class="container">

    <h1 class="glow">TEAMS</h1>
    <h3 class="writtentxt"> Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam
        doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</3>
        <h3 class="writtentxt"> Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos
            veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h3>
        <h3 class="writtentxt"> Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos
            veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h3>
        <h3 class="writtentxt"> Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos
            veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h3>


</div>


<div id="achievements" class="container">
    <h1 class="glow">ACHIEVEMENTS</h1>
    <h3 class="writtentxt"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque
        similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae
        tempora, ipsa error temporibus officia? Assumenda!</h3>
    <h3 class="writtentxt"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque
        similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae
        tempora, ipsa error temporibus officia? Assumenda!</h3>
    <h3 class="writtentxt"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque
        similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae
        tempora, ipsa error temporibus officia? Assumenda!</h3>
    <h3 class="writtentxt"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque
        similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae
        tempora, ipsa error temporibus officia? Assumenda!</h3>

</div>


{% endblock %}