{% extends 'base.html' %} {% block title %}
<title>Cae Club</title>
{% endblock title %}

<div id="page-top"></div>
{% block link %} href="/" {% endblock link %} {% block navElements %}

<div class="collapse navbar-collapse" id="navbarResponsive">

    <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#Description" style="color:white;">Description</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#achievements" style="color:white;">achievementsS</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#events" style="color:white;">events</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about" style="color:white;">ABOUT</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact" style="color:white;">CONTACT</a>
        </li>

    </ul>

</div>

{% endblock navElements %} {% block body %}



<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->

        <img class="masthead-avatar mb-5" src="{{ url_for('static', filename='cae.jpg')  }}" alt="" />

        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Cae Club</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <!-- <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p> -->
    </div>
</header>

<!-- Description Section-->
<section class="page-section portfolio" id="Description">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Description</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            <div class="col-md-12 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto">

                    The Computer-Aided Engineering (CAE) Club is a independent and premium student organisation certified by Mechanical engineering department, IIT Indore. The aim of the firm is to deal with common engineering problems and try to develop its optimum solution using CAE softwares. Our non- profit association helps young undergraduates to learn relevant designing skills,aware them about the use of  CAE softwares in real industries and motivate them to participate in different design competitions. The student body also conducts some workshop (software-based  and hands-on), seminars, webinars and different CAD competitions. We believe what knowledge we inherited we pass in on to young one

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Achievements Section-->
<section class="page-section portfolio" id="achievements">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Achievements</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            <div class="col-md-12 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto">

                    CAE club IIT Indore was delighted to present CADathon which is one of the main annual events conducted by CAE club during Intra-IIT 2k19 for the design enthusiasts at IIT-I. CaDathon  is a resourceful juncture for technical players to display their abilities. Best of all is being the association of the event with the much awaited FLUXUS 2k20.
                  This challenging competition is designed to be a creative stage for the technical performers to help them showcase their talents for the design projects. The competition motivates students to think, create and exhibit innovative designs on a global platform for projects that can be practically implemented.We appreciate the idea, efficiency, and uniqueness of the project.
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Event Section-->
<section class="page-section portfolio" id="events">
    <div class="container">
        <!-- Event Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Events</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Event Grid Items-->
        <div class="row">
            <!-- Event Item 1-->
            <div class="col-md-12 col-lg-12 mb-5">
                <div class="portfolio-item mx-auto">
                    CAE Club  conducted the student design challenge (SDC). It was a three-phase long competition. Each phase was followed by one workshop.

                  Workshop Series:
                  1.  Mechanism in Real Life
                  2.  Designing Cad Model in Solidwork or Catia
                  3.  Analysis and Simulation


                   Workshop of the series 'Mechanism in daily life'. This workshop mainly focused on the transmission of continuous rotation, some other kind of motion transmission, and specific purpose mechanisms like stretching, contracting, pneumatic, etc.
                 At the end of the workshop, the theme, and format of the initial product design submission report of  SDC phase1 was discussed.


                 The CAE Club's first workshop of the academic year!  Organized an Introductory workshop on the "Designing with SolidWorks".
                 Solidworks is the easiest designing software and you may need to use it sometime, so better learn in advance. We are expecting huge participation from your side. The workshop was taken by second year club members. 
                </div>
            </div>
        </div>
    </div>
</section>









</div>
{% endblock %}