{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}


<div class="jumbotron text-center">
    <h1>CAE CLUB</h1>

    <span><a href="#events" class="btn btn-primary ">EVENTS</a></span>
    <span><a href="#teams" class="btn btn-primary">TEAMS</a></span>
    <span><a href="#achievements" class="btn btn-primary">ACHIEVEMENTS</a></span>


</div>


<div class="container">
    <h3>
        The Computer-Aided Engineering (CAE) Club is a independent and premium student organisation certified by Mechanical engineering department, IIT Indore. The aim of the firm is to deal with common engineering problems and try to develop its optimum solution using CAE softwares. Our non- profit association helps young undergraduates to learn relevant designing skills,aware them about the use of  CAE softwares in real industries and motivate them to participate in different design competitions. The student body also conducts some workshop (software-based  and hands-on), seminars, webinars and different CAD competitions. We believe what knowledge we inherited we pass in on to young one
    </h3>
</div>

<div id="events" class="container">
    <h1>EVENTS</h1>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur accusantium consequatur earum laboriosam, itaque nostrum illum consequuntur ea saepe dignissimos. Quaerat tenetur veritatis ex facilis velit possimus voluptates magnam maxime.</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>

</div>



<div id="teams" class="container">
    <h1>TEAMS</h1>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>


</div>


<div id="achievements" class="container">
    <h1>ACHIEVEMENTS</h1>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>

</div>

{% endblock %}