
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Details</title>
    <div class="container-fluid text-center">
     <h1>Profile</h1>
    </div>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <!-- Google font -->
     <style>
       body {
  background-image: url("https://images.pexels.com/photos/5534634/pexels-photo-5534634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  
 }
 
   .black{
    background-color: black;
    color: white;
    max-width: 100px;
    max-width: 200px;
   }
     </style>

    <!-- Custom stlylesheet -->
  


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
    <div class="container-fluid py-5 mt-5">
     
    
  
      <div class="black "><h3>Email address</h3></div>

      <h5>{{email}}</h5>
   
   
      <h3 class="black ">Name</h3>
     <h5>{{name}}</h5>
   
   
      <h3 class="black ">LinkedIn Profile</h3>
     <h5><a href="https://www.linkedin.com/in/{{link}}">{{link}}></a></h5>
   
   
      <h3 class="black ">Discipline</h3>
     <h5>{{link}}</h5>
   
   
      <h3 class="black ">Roll No</h3>
     <h5>{{link}}</h5>
   
   
      <h3 class="black ">Contact detail</h3>
     <h5>{{link}}</h5>
   
   
      <h3 class="black ">Year</h3>
     <h5>{{link}}</h5>
   
      <h3 class="black ">Bio</h3>
     <h5>{{link}}</h5> 
 
   
     
      </div>
    
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>






