{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="/culturals">Cultural <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/technicals">Technical</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/others">Others</a>
            </li>
        </ul>
    </div>
</nav>

<!-- MAIN -->



<div class="p-auto">
    <div class="row">
        <div class="col-md-4 col-sm-6 mt-5">
            <div class="col-md-12">
                <div class="card">
                    <img class="img-fluid" src="http://sac.iitd.ac.in/clubs/logos/dev.jpg">
                    <div class="card-body">
                        <h3 class="card-title">Dance Club</h3>
                    </div>
                    <a href="#" class="btn btn-primary d-flex mx-3 mb-2">Show more</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mt-5">
            <div class="col-md-12">
                <div class="card">
                    <img class="img-fluid" src="http://sac.iitd.ac.in/clubs/logos/robo.jpg">
                    <div class="card-body">
                        <h3 class="card-title">Dance Club</h3>
                    </div>
                    <a href="#" class="btn btn-primary d-flex mx-3 mb-2">Show more</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6 mt-5">
            <div class="col-md-12">
                <div class="card">
                    <img class="img-fluid" src="http://sac.iitd.ac.in/clubs/logos/axlr.jpg">
                    <div class="card-body">
                        <h3 class="card-title">Dance Club</h3>
                    </div>
                    <a href="#" class="btn btn-primary d-flex mx-3 mb-2">Show more</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mt-5">
            <div class="col-md-12">
                <div class="card">
                    <img class="img-fluid" src="http://sac.iitd.ac.in/clubs/logos/aeromodelling.png">
                    <div class="card-body">
                        <h3 class="card-title">Dance Club</h3>
                    </div>
                    <a href="#" class="btn btn-primary d-flex mx-3 mb-2">Show more</a>
                </div>
            </div>
        </div>

        


{% endblock %}