{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}


<div class="jumbotron text-center">
    <h1>PROGRAMMING CLUB</h1>

    <span><a href="/progClub/events" class="btn btn-primary ">EVENTS</a></span>
    <span><a href="/progClub/teams" class="btn btn-primary">TEAMS</a></span>
    <span><a href="/progClub/achievements" class="btn btn-primary">ACHIEVEMENTS</a></span>

</div>


<div class="container">
    <h3>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore dolore eos voluptas, nam assumenda fuga quisq
        uam totam neque expedita eu
        m temporibus unde minima facere. Assumenda quaerat modi eveniet corporis blanditiis.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, non sunt placeat, voluptatem ut amet aliquam vel alias e
        veniet, esse reiciendis recusandae! Illum corrupti error accusamus ipsam, odit architecto nostrum!
    </h3>
</div>

{% endblock %}
