{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}


<div class="jumbotron text-center">
    <h1>DRAMATICS CLUB</h1>

    <span><a href="#events" class="btn btn-primary ">EVENTS</a></span>
    <span><a href="#teams" class="btn btn-primary">TEAMS</a></span>
    <span><a href="#achievements" class="btn btn-primary">ACHIEVEMENTS</a></span>


</div>

<div class="container">
    <h3>
        The Dramatics Club is a student organisation of IIT Indore dedicated to dramatics. The club has been, since it's inception, involved in performing both inside and outside the campus.

        Dramatics club IIT Indore is an open club for IITI students which organizes dramas on special occasions and national festivals.
    </h3>
</div>

<div id="events" class="container">
    <h1>EVENTS</h1>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur accusantium consequatur earum laboriosam, itaque nostrum illum consequuntur ea saepe dignissimos. Quaerat tenetur veritatis ex facilis velit possimus voluptates magnam maxime.</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>

</div>



<div id="teams" class="container">
    <h1>TEAMS</h1>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>


</div>


<div id="achievements" class="container">
    <h1>ACHIEVEMENTS</h1>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique unde dolore aliquid ex, distinctio excepturi aspernatur eos veniam doloribus iure optio impedit beatae tempora, ipsa error temporibus officia? Assumenda!</h2>

</div>

{% endblock %}